body {
    background-color:FF#FFFF;
} 

h1 {
    color:#008B8B;
}

p {
    color:#008B8B;
} 

/* Media query for body */
@media only screen and (max-width: 767px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: #c1c1c1;
    }
  }